@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v12/l7gAbjR61M69yt8Z8w6FZf9WoBxdBrG3uW6O.ttf) format('truetype');
}
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v12/l7gAbjR61M69yt8Z8w6FZf9WoBxdBrFbvm6O.ttf) format('truetype');
}
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v12/l7gAbjR61M69yt8Z8w6FZf9WoBxdBrFivm6O.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(180, 52%, 96%);
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}
header {
  position: relative;
  background-color: hsl(180, 29%, 50%);
  display: flex;
}
header img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.container {
  margin: auto;
  padding: 5rem 2rem;
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(180, 14%, 20%);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.job-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  border-left: 5px solid hsl(180, 29%, 50%);
  padding: 2rem;
  margin-bottom: 3rem;
}
.job-card-top img {
  position: absolute;
  top: -25px;
  height: 50px;
  width: 50px;
}
.job-card-top .tags {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.job-card-top .tags div {
  margin-left: 0.5rem;
}
.job-card-top .tags div:first-of-type {
  margin-left: 0;
}
.job-card-top .tags .company-name {
  color: hsl(180, 29%, 50%);
  font-weight: 700;
}
.job-card-top .tags .pill {
  background-color: hsl(180, 29%, 50%);
  color: #fff;
  border-radius: 30px;
  padding: 0.25rem 0.5rem;
  padding-top: 0.5rem;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
.job-card-top .job-title {
  color: hsl(180, 14%, 20%);
  font-weight: 700;
  margin-bottom: 1rem;
}
.job-card-top .job-details {
  display: flex;
  color: hsl(180, 8%, 52%);
  margin-bottom: 1rem;
}
.job-card-top .job-details .job-detail {
  position: relative;
  padding-left: 30px;
}
.job-card-top .job-details .job-detail::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 12px;
  width: 5px;
  height: 5px;
  background-color: hsl(180, 8%, 52%);
  border-radius: 50%;
}
.job-card-top .job-details .job-detail:first-of-type {
  padding-left: 0;
}
.job-card-top .job-details .job-detail:first-of-type::before {
  display: none;
}
.job-card-top .spacer-line {
  width: 100%;
  height: 1px;
  background-color: hsl(180, 8%, 52%);
  margin: 1rem 0;
}
.skill-pill {
  position: relative;
  display: inline-flex;
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 52%, 96%);
  padding: 0.5rem;
  border-radius: 10px;
  margin-left: 0.5rem;
  font-weight: 700;
  transition: background-color 0.3s ease-in-out;
}
.skill-pill:first-of-type {
  margin-left: 0;
}
.skill-pill:hover {
  background-color: hsl(180, 52%, 76%);
}
.skill-pill.active {
  background-color: hsl(180, 14%, 20%);
  color: #fff;
}
.required-skills .skill-pill {
  cursor: pointer;
}
.filter-bar {
  position: absolute;
  bottom: -25px;
  left: 2rem;
  height: 50px;
  width: calc(100% - 4rem);
}
.filter-bar.job-card {
  margin: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.filter-bar.job-card .filter-clear-btn {
  color: hsl(180, 29%, 50%);
}
.filter-bar.job-card .filter-clear-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}
.filter-bar .selected-filters .skill-pill {
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.filter-bar .selected-filters .skill-pill:hover {
  background-color: hsl(180, 52%, 96%);
}
.filter-bar .selected-filters .skill-pill .skill {
  padding: 0.5rem;
}
.filter-bar .selected-filters .skill-pill .skill-pill-remove-btn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.5rem;
  background-color: hsl(180, 29%, 50%);
  color: #fff;
  cursor: pointer;
}
.filter-bar .selected-filters .skill-pill .skill-pill-remove-btn:hover {
  background-color: hsl(180, 14%, 20%);
}
.filters-mobile {
  display: grid;
  place-content: center;
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: hsl(180, 29%, 50%);
  color: #fff;
  text-align: center;
  cursor: pointer;
  padding: 2rem;
}
.filters-mobile:hover {
  background-color: hsl(180, 29%, 45%);
}
.filters-mobile .filters-mobile-container {
  margin-top: 1rem;
}
.filters-mobile .filters-mobile-container .filter-mobile-btns {
  margin-bottom: 1rem;
}
.filters-mobile .close-btn {
  display: none;
}
.filters-mobile.active .close-btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: block;
}
